<nav class="navigation pagination" role="navigation">
    <h2 class="screen-reader-text">Posts navigation</h2>
    <div class="nav-links">
        <% if (pagination.prev) { %>
            <a class="page-numbers" href="<%= pagination.prev %>">上一页</a>
        <% } %>
        <% if (pagination.next) { %>
             <a class="next page-numbers" href="<%= pagination.next %>">下一页</a>
        <% } %>
    </div>
</nav>